@function xmin($a, $b) {
    @return unquote('min(' + $a + ',' + $b + ')');
}
@function xmax($a, $b) {
    @return unquote('max(' + $a + ',' + $b + ')');
}
* {
    box-sizing: border-box;
}
html {
    height: 100vh;
    width: 100vw;
}
.container {
    position: fixed;
    bottom: xmax(-25vw, -150px);
    right: xmax(-25vw, -150px);
    width: xmin(100vw, 600px);
    height: xmin(100vw, 600px);
    // transform: scale(1);
    transition: all 600ms 0s ease-in-out;
}
.nav {
    position: absolute;
    // background-color: #808080;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    transition: all 600ms 0s ease-in-out;
}

// .nav::after {
//     content: '';
//     z-index: 100;
//     height: xmin(80vw, 480px);
//     width: xmin(80vw, 480px);
//     border-radius: 50%;
//     position: absolute;
//     left: xmin(10vw, 60px);
//     top: xmin(10vw, 60px);
//     // background-color: #808080;
//     overflow: hidden;
//     transition: all 600ms 0s ease-in-out;
// }

.child {
    list-style: none;
    position: absolute;
    bottom: xmin(50vw, 300px);
    right: xmin(50vw, 300px);
    background-color: #404040;
    height: xmin(50vw, 300px);
    width: xmin(50vw, 300px);
    transform-origin: 100% 100%;
    overflow: hidden;
    transition: all 600ms 0s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: xmin(3.5vw, 21px);
    position: absolute;
    border-radius: 50%;
    height: xmin(100vw, 600px);
    width: xmin(100vw, 600px);
    bottom: xmax(-50vw, -300px);
    right: xmax(-50vw, -300px);
    transform: skew(-70deg) rotate(-80deg);
    transition: all 600ms 0s ease-in-out;
}
input {
    position: absolute;
}
label {
    position: absolute;
    z-index: 200;
    height: xmin(20vw, 120px);
    width: xmin(20vw, 120px);
    bottom: xmin(40vw, 240px);
    right: xmin(40vw, 240px);
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    background-color: red;
}
input:checked ~ label {
    background-color: blue;
}