.AdminTitle {
    margin: 20px;
}
.DebugContainer {
    display: flex;
    flex-direction: column;

    margin: 20px;
    padding: 20px;

    background-color: rgb(255, 200, 200) !important;

    gap: 20px;
}
