$gap: 12px;
._flex_a {
    display: flex;

    padding: $gap;

    gap: $gap;
}
._flex_b {
    display: flex;

    gap: $gap;
}
.AdminTitle {
    margin: $gap;
}
.AdminMain {
    align-items: center;
    flex-direction: column;

    margin-top: 30vh;

    @extend ._flex_a;
    .ObjectTableContainer {
        width: 100%;
        max-width: 2000px;

        background-color: rgb(255, 255, 143) !important;

        @extend ._flex_a;
    }
    .ObjectEditorContainer {
        max-width: 1200px;

        background-color: rgb(199, 255, 199) !important;

        @extend ._flex_a;
        .LeftContainer {
            flex: 1;

            .TableContainer {
                padding: $gap;
            }
        }
        .RightContainer {
            flex: 1;
            flex-direction: column;

            @extend ._flex_b;
            .OperationSelectorContainer {
                align-items: center;
                flex-direction: column;

                @extend ._flex_a;
                .AutoComplete {
                    min-width: 300px;
                }
            }
            .OperationEditorContainer {
                .Form {
                    flex-direction: column;

                    @extend ._flex_a;
                    .FormTextFieldGroup {
                        width: min-content;
                        width: 100%;
                        padding: $gap;
                        .Form_groupID,
                        .Form_articleID,
                        .Form_groupKind {
                            width: 50%;
                            min-width: 200px;
                        }
                        .Form_groupName,
                        .Form_title,
                        .Form_icon,
                        .Form_thumb,
                        .Form__tags {
                            width: 100%;
                            min-width: 400px;
                        }
                    }
                    .FormButtonGroup {
                        justify-content: flex-end;

                        @extend ._flex_b;
                    }
                }
            }
        }
    }
    .DebugContainer {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 1200px;
        padding: $gap;

        background-color: rgb(255, 199, 199) !important;

        gap: $gap;
    }
}
