.Container {
    max-width: 800px;

    // background-color: #efcd9a;
    .Article {
        padding: 6px;

        background-color: #ffffff;
        * {
            margin: revert;
            padding: revert;
        }
        *:-webkit-any(h1, h2, h3, h4, h5, h6) {
            margin: inherit;
            padding: inherit;
        }
    }
}
