@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;

    box-sizing: border-box;
}
:root {
    --min100: min(20vw, 100px);
    --min1000: min(200vw, 1000px);
    --min20: min(4vw, 20px);
    --min200: min(40vw, 200px);
    --min30: min(6vw, 30px);
    --min50: min(10vw, 50px);
    --min500: min(100vw, 500px);
}
.Container {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 0;
    height: 0;
    .NavCircle {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 0;
        height: 0;

        animation: A_NavCircle_hide 400ms ease;
        .c {
            transition: all 600ms ease;

            cx: 1133;
            cy: 1133;
            r: 0;

            &:nth-child(1),
            &:nth-child(2) {
                transform-origin: 810px 760px;
                animation: A_NavCircle_wave 4s linear infinite;

                cx: 800;
                cy: 750;
                r: 750;
            }
            &:nth-child(3) {
                transform-origin: 780px 730px;
                animation: A_NavCircle_wave 3s linear infinite;

                cx: 770;
                cy: 720;
                r: 720;
            }
            &:nth-child(4) {
                transform-origin: 760px 710px;
                animation: A_NavCircle_wave 5s linear infinite;

                cx: 750;
                cy: 700;
                r: 700;
            }
        }
    }
    .PartsList {
        position: absolute;
        right: 0;
        bottom: 0;

        justify-content: center;

        width: 0;
        height: 0;
        margin: 0;
        padding: 0;

        animation: A_NavContent_SlideOut 300ms ease;

        .Parts {
            margin: var(--min20);

            list-style: none;
        }
        .PartsLink {
            font-size: var(--min30);

            color: black;
        }
    }
    .NavButton {
        width: 30px;
        height: 30px;
        .Line {
            transition: all 200ms ease-in-out;
            transform-origin: center;
        }
    }
    &_Active {
        .NavCircle {
            width: var(--min500);
            height: var(--min1000);

            animation: A_NavCircle_display 300ms ease;
        }
        .PartsList {
            right: var(--min50);
            bottom: var(--min200);

            width: var(--min200);
            height: min-content;

            animation: A_NavContent_SlideIn 400ms ease;
        }
        .NavButton {
            .Line:nth-child(1) {
                transform: rotate(-135deg) translate(0px, 5px);
            }
            .Line:nth-child(2) {
                width: 2px;

                transform: rotate(360deg);

                opacity: 0.3;

                x: 11;
            }
            .Line:nth-child(3) {
                transform: rotate(135deg) translate(0px, -5px);
            }
        }
    }
}
.FAB {
    position: absolute;
    right: var(--min100);
    bottom: var(--min100);
}

@keyframes A_NavCircle_wave {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes A_NavCircle_hide {
    0% {
        width: var(--min500);
        height: var(--min1000);
    }
    40% {
        width: var(--min500);
        height: var(--min1000);
    }
    100% {
        width: 0;
        height: 0;
    }
}
@keyframes A_NavCircle_display {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: var(--min500);
        height: var(--min1000);
    }
}
@keyframes A_NavContent_SlideIn {
    0% {
        transform: translateX(64px);

        opacity: 0;
    }
    33% {
        transform: translateX(64px);

        opacity: 0;
    }
    100% {
        transform: translateX(0);

        opacity: 1;
    }
}
@keyframes A_NavContent_SlideOut {
    0% {
        right: var(--min50);
        bottom: var(--min200);

        width: var(--min200);
        height: min-content;

        transform: translateX(0);

        opacity: 1;
    }
    33% {
        right: var(--min50);
        bottom: var(--min200);

        width: var(--min200);
        height: min-content;

        transform: translateX(0);

        opacity: 1;
    }
    100% {
        right: var(--min50);
        bottom: var(--min200);

        width: var(--min200);
        height: min-content;

        transform: translateX(64px);

        opacity: 0;
    }
}
