:root {
    --shfes-nav-min100: min(20vw, 100px);
    --shfes-nav-min1000: min(200vw, 1000px, 100vh);
    --shfes-nav-min30: min(6vw, 30px);
    --shfes-nav-min500: min(100vw, 500px, 50vh);
}
.Container,
.Nav,
.NavCircle,
.PartsList {
    right: 0;
    bottom: 0;

    width: 0;
    height: 0;
}
.Container {
    position: fixed;
    z-index: 300;
    .Nav {
        position: absolute;

        width: 0;
        height: 0;

        transition: all 300ms ease;
        .NavCircle {
            position: absolute;

            transition: all 300ms ease;
        }
        .PartsList {
            position: absolute;
            top: 50%;
            left: 100%;

            justify-content: center;

            width: 40%;
            height: min-content;
            margin: 0;
            padding: 0;

            transition: all 300ms ease;

            opacity: 0;
            .Parts {
                width: 80%;
                margin: 10%;

                list-style: none;
                .PartsLink {
                    font-size: var(--shfes-nav-min30);

                    color: black;
                }
            }
        }
    }
    .NavButton {
        width: 30px;
        height: 30px;
        .Line {
            transition: all 200ms ease-in-out;
            transform-origin: center;
        }
    }
    &[data-active='true'] {
        .Nav {
            overflow: hidden;

            width: var(--shfes-nav-min500);
            height: var(--shfes-nav-min1000);
            .NavCircle {
                right: -50%;

                width: 150%;
                height: 100%;
                @media screen and (min-width: 1024px) {
                    .CirclePart {
                        animation-name: Wave_NavCircle;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        @keyframes Wave_NavCircle {
                            0% {
                                transform: rotate(0deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                        &:nth-child(1),
                        &:nth-child(2) {
                            transform-origin: 101px 89px;
                            animation-duration: 4s;
                        }
                        &:nth-child(3) {
                            transform-origin: 98px 86px;
                            animation-duration: 3s;
                        }
                        &:nth-child(4) {
                            transform-origin: 95px 83px;
                            animation-duration: 5s;
                        }
                    }
                }
            }
            .PartsList {
                top: 50%;
                left: 55%;

                opacity: 1;
            }
        }
        .NavButton {
            .Line:nth-child(1) {
                transform: rotate(-135deg) translate(0px, 5px);
            }
            .Line:nth-child(2) {
                transform: rotate(360deg);

                opacity: 0;
            }
            .Line:nth-child(3) {
                transform: rotate(135deg) translate(0px, -5px);
            }
        }
    }
}
.FAB {
    position: absolute;
    right: var(--shfes-nav-min100);
    bottom: var(--shfes-nav-min100);
}
