.Container {
    display: flex;
    .LeftContainer {
        background-color: red;
    }
    .MainContainer {
        background-color: blue;
    }
    .RightContainer {
        background-color: green;
    }
}
